<!DOCTYPE html>
<html>
<head>
    <title>{{ product.name }}</title>
<style>
img { max-height:50px;  }
        .product { border: 1px solid #ccc; padding: 10px; margin: 10px; display: inline-block; }
    </style>
</head>
<body bgcolor=orange>
    <a href="{% url 'add_to_cart' product.pk %}">Add to Cart</a>
    <h1>{{ product.name }}</h1>
    {% if product.image %}
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
    {% endif %}
    <p>{{ product.description }}</p>
    <p>Price: Rs{{ product.price }}</p>
    <a href="/">Back to Products</a>
</body>
</html>